.permission-wrapper {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	gap: 1px;
	width: 904px;
	margin: 0 auto;
	background-color: #fff;
	max-height: 80vh;
	overflow-y: auto;
}

.permission-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px;
	gap: 24px;
	height: 60px;
	box-shadow: 0px 1px 0px #e0e5eb;
}

.permission-header__left-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 129px;
	height: 39px;
}

.permission-header__left-item p:nth-child(1) {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #343c46;
}

.permission-header__left-item p:nth-child(2) {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.03em;
	color: #143e9f;
}

.permission-header__right-item .permission-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 24px;
}

.permission-actions button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	width: 160px;
	height: 40px;
	background: #07073f;
	border-radius: 2px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.permission-actions .close-icon {
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.permission-wrapper .modules {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	gap: 32px;
	/* max-height: 60vh;
	overflow-y: auto; */

	/* width: 904px;
height: 524px; */
}

.permission-wrapper .modules__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	/* background-color: #f5f5f5; */
	width: 100%;
}
