.permission-wrapper {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	gap: 1px;
	width: 904px;
	margin: 0 auto;
	background-color: #fff;
}

.permission-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px;
	gap: 24px;
	height: 60px;
	box-shadow: 0px 1px 0px #e0e5eb;
}

.permission-header__left-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 129px;
	height: 39px;
}

.permission-header__left-item p:nth-child(1) {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #343c46;
}

.permission-header__left-item p:nth-child(2) {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.03em;
	color: #143e9f;
}

.permission-header__right-item .permission-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 24px;
}

.permission-actions button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	width: 160px;
	height: 40px;
	background: #07073f;
	border-radius: 2px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.permission-actions .close-icon {
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.permission-wrapper .modules {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	gap: 32px;
	max-height: 60vh;
	overflow-y: auto;

	/* width: 904px;
height: 524px; */
}

.permission-wrapper .modules__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	/* background-color: #f5f5f5; */
	width: 100%;
}

.modules .accordion {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 0px 24px;
	width: 100%;
	/* max-height: 274px; */
	border-bottom: 1px solid #e0e5eb;
}

.accordion__title {
	padding: 16px 0px;
	width: 100%;
	/* cursor: pointer; */
	/* height: 70px; */
	/* background-color: #f5f5f5; */
}

.accordion__title div {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.accordion__title p {
	/* font-weight: 600; */
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #343c46;
}

.accordion__title.selected p {
	font-weight: 600;
}

.accordion__title.selected .chevron-icon svg {
	transform: rotate(90deg);
}

.accordion__title .chevron-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	gap: 4px;
	/* width: 38px;
	height: 38px; */
	border-radius: 4px;
}

.chevron-icon svg {
	color: #343c46;
	width: 20px;
	height: 20px;
}

table {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	width: 100%;
	height: 180px;
	border-width: 1px;
	border-style: solid;
	border-color: #e0e5eb;
	overflow: auto;
}

table.hide {
	display: none;
}

thead {
	border-bottom: 1px solid #e0e5eb;
}

thead tr {
	display: flex;
	align-items: center;
}

tbody tr {
	display: flex;
	align-items: center;
}

tbody tr:not(:last-child) {
	border-bottom: 1px solid #e0e5eb;
}

th,
td {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
	padding: 0px 16px;
	gap: 10px;
}

tr th {
	height: 60px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #343c46;
}

tr td {
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #343c46;
}

tr th:first-child,
tr td:first-child {
	justify-content: center;
	width: 55px;
}

tr th:nth-child(2),
tr td:nth-child(2) {
	width: 569px;
}

tr th:nth-child(n + 3),
tr td:nth-child(n + 3) {
	width: 120px;
}

tr th:first-child div {
	width: 20px;
	height: 20px;
}

.myCheckboxClass {
	display: none;
}

.myCheckboxClass + label {
	cursor: pointer;
	border: 1px solid #e0e5eb;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.myCheckboxClass:checked + label {
	border: 0;
	border-radius: 0;
	position: relative;
}

/* Style the custom checkbox */
.myCheckboxClass + label:before {
	content: "";
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	background-color: #143e9f;
	border-radius: 2.8px;
}

.myCheckboxClass:checked + label::before {
	/* content: "\2713"; */
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

/* Style the checkmark inside the checkbox */
.myCheckboxClass:checked + label::after {
	content: "";
	position: absolute;
	/* left: 5px;
	top: 50%;
	transform: translate(0, -50%); */
	width: 6px;
	height: 12px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
